# Visual Studio 2022 - CUDA Project .gitignore

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio 2022 cache/options directory
.vs/

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## Visual Studio Trace Files
*.e2e

## ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

## Build Results
*.ilk
*.log
*.obj
*.pdb
*.tlog
*.idb
*.pch
*.ipch
*.exp
*.lib
*.exe
*.dll
*.iobj
*.ipdb

## CUDA Specific Build Artifacts
*.cubin
*.ptx
*.fatbin
*.i
*.ii
*.gpu
*.cu.deps

## Visual Studio Code coverage results
*.coverage
*.coveragexml

## Compiled Object files
*.slo
*.lo
*.o

## Precompiled Headers
*.gch

## MSVC Intermediate Directory
*.lastbuildstate
*.unsuccessfulbuild

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Visual Studio cache files
*.VC.db
*.VC.VC.opendb

## Visual Studio profiler
*.psess
*.vsp
*.vspx

## IntelliSense Database
*.VC.db-shm
*.VC.db-wal

## Others
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.VC.opendb

## Project Files to Keep
!*.vcxproj
!*.vcxproj.filters
!*.sln

## CUDA Header Files (optional - uncomment if you want to track these)
# !*.cuh

## Files generated by CUDA toolkit
*.linkinfo